.cajaLogin{
    margin-left: 500px;
    margin-top: 200px;
    position: absolute;
}
div{
    height: 300px;
    border: 1px solid #22E5E5;
    margin-right: 500px;
    border-radius: 10%;
    background: #CDFFFF;
    position: absolute;
    width: 333px;
    
}
.titulo{
    color: #029C9C;
    margin-left: 90px;
    font-family:roboto;
}
.username{
    margin-left: 33px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 270px;
    height: 30px;
    border: 1px solid #22E5E5 ;
    border-radius: 30px;
}
.pass{
    margin-left: 33px;
    width: 270px;
    height: 30px;
    border: 1px solid #22E5E5 ;
    border-radius: 30px;
}
.logine{
    background:#029C9C ;
    margin-left: 33px;
    margin-top: 20px;
    width: 270px;
    height: 40px;
    border: 1px solid #029C9C ;
    border-radius: 30px;
    cursor: pointer;

}
.logine:hover{
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
    width: 270px;
    height: 40px;
    border: 1px solid #037575;
    border-radius: 30px;
    background: black;
    color: white;
}

footer{
    margin-left: 120px;
}

input{
    color:#029C9C ;
}