<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Layout</title>
</head>
<body>

    <header class="head1">
        <h1 class="titulo">Zafary</h1>
    </header>
    <div class="cuerpo">
    <aside class="aside">
        <div>
        <div class="home">
            <article class="articulos">
                <img class="imagenes" src="https://github.com/a-troncoso/Zafary/blob/master/Layout/assets/home.png?raw=true" alt="">
                <h1 class="h1">Home</h1>
            </article>
        </div>

        <div class="whatzapp">
            <article class="articulos">
                <img class="imagenes" src="https://github.com/a-troncoso/Zafary/blob/master/Layout/assets/whatsapp.png?raw=true" alt="">
                <h1 class="h1">Whatzapp</h1>
            </article>
        </div>

        <div class="zpotify">
            <article class="articulos">
                <img class="imagenes" src="https://github.com/a-troncoso/Zafary/blob/master/Layout/assets/spotify.png?raw=true" alt="">
                <h1 class="h1">Zpotify</h1>
            </article>
        </div>
        </div>
    </aside>

    <main>
        <header><h1 class="zafary">zafary</h1></header>
        <div>
            <h2 class="cuerpo2">La mejor forma de los sitios Web</h2>
        </div>
        <section></section>
    </main>
    </div>
    
</body>
</html>